Great! You have reserved your place in line at Kitchen Stadium. You will receive an invite when we launch in your area.

If you have not already done so, take a few minutes to tell us about your taste preferences and we'll create a custom menu specific to your taste. 

Click 
= link_to "here", edit_allergies_user_url(@user) 
to enter your taste preferences.
