.row-fluid
  .span12
    .align-center68
      = render "shared/form_header"
      = form_tag set_tastes_user_path(@user), method: :post, id: "allergy-form" do
        .row-fluid.form-field
          .span9
            .span5
              HOW DO YOU LIKE YOUR FOOD?
            .span7
              .radio-box
                = radio_button_tag 'spicy_preference', 'mild', spicy_val(@user, 'mild')
                Mild
              .radio-box
                = radio_button_tag 'spicy_preference', 'medium', spicy_val(@user, 'medium')
                Medium
              .radio-box
                = radio_button_tag 'spicy_preference', 'spicy', spicy_val(@user, 'spicy')
                Spicy
        .row-fluid.form-field
          .span9
            .span5
              DO YOU LIKE DESSERTS?
            .span7
              .box
                = radio_button_tag 'likes_desserts', 1, dessert_val(@user, 1)
                Oh yeah
              .box
                = radio_button_tag 'likes_desserts', 0, dessert_val(@user, 0)
                Nope, don't like sweets or desserts
        .row-fluid.form-field
          .span9
            .span5
              Anything else you would like to to tell us about your food habits?
            .span7
              = text_area_tag 'eating_habits', @user.eating_habits, class: "big-text-area"
        .row-fluid
          .span7
            = link_to "Previous", edit_food_user_path(@user), class: "prev-link"
            = submit_tag "Submit", class: "submit-btn btn"
          .span5
            .page-number
              = "#{@step}/4"

