.row-fluid
  .span12
    .align-center68
      = render "shared/form_header"
      = form_tag set_food_user_path(@user), method: :post, id: "diet-form" do
        .row-fluid
          #diet-types
            HOW OFTEN DO YOU PREFER?
            %table
              %tr
                %th 
                %th Never
                %th Sometimes
                %th Often
              - Food.all.each do |food|
                %tr{class: "#{cycle('odd', 'even')}"}
                  %td
                    = food.name
                  %td
                    = radio_button_tag food.name, 'never', food_val(@user, food, 'never'), { :onclick => ""}
                  %td
                    = radio_button_tag food.name, 'sometimes', food_val(@user, food, 'sometimes'), { :onclick => ""}
                  %td
                    = radio_button_tag food.name, 'often', food_val(@user, food, 'often'), { :onclick => ""}
        .row-fluid
          #diet-types
            HOW OFTEN DO YOU ORDER OR COOK?
            %table
              %tr
                %th 
                %th Never
                %th Sometimes
                %th Often
              - FoodType.all.each do |foodtype|
                %tr{class: "#{cycle('odd', 'even')}"}
                  %td
                    = foodtype.name
                  %td
                    = radio_button_tag foodtype.name, 'never', food_type_val(@user, foodtype, 'never'), { :onclick => ""}
                  %td
                    = radio_button_tag foodtype.name, 'sometimes', food_type_val(@user, foodtype, 'sometimes'), { :onclick => ""}
                  %td
                    = radio_button_tag foodtype.name, 'often', food_type_val(@user, foodtype, 'often'), { :onclick => ""}
        .row-fluid
          .span7
            = link_to "Previous", edit_diet_user_path(@user), class: "prev-link"
            = submit_tag "Save Favorite Cuisines", class: "submit-btn btn"
          .span5
            .page-number
              = "#{@step}/4"
