.row-fluid
  .span12
    .align-center68
      = render "shared/form_header"
      = form_tag set_diet_user_path(@user), method: :post, id: "diet-form" do
        .row-fluid
          .span9
            #has-allergy-box.form-field
              .span4
                Are you a vegetarian?
              .span8
                .box
                  = radio_button_tag 'is_vegan', false, !@user.is_vegan, { :onclick => "$('.not-vegan').show();" }
                  NO
                .box
                  = radio_button_tag 'is_vegan', true, @user.is_vegan, { :onclick => "$('.not-vegan').hide(); $('#has-allergy-box').addClass('selected');"}
                  YES
        .row-fluid
          #diet-types
            HOW OFTEN DO YOU EAT
            %table
              %tr{style: "background-color:#E6E6E6;"}
                %th 
                %th Never
                %th Sometimes
                %th Often
              - Diet.featured.each do |diet|
                %tr{class: "#{('not-vegan' if diet.is_vegan == false)}  #{cycle('odd', 'even')}", style: ("display:none;" if @user.is_vegan == true && diet.is_vegan == false)}
                  %td
                    = diet.name
                  %td
                    = radio_button_tag diet.name, 'never', diet_val(@user, diet, 'never'), { :onclick => ""}
                  %td
                    = radio_button_tag diet.name, 'sometimes', diet_val(@user, diet, 'sometimes'), { :onclick => ""}
                  %td
                    = radio_button_tag diet.name, 'often', diet_val(@user, diet, 'often'), { :onclick => ""}
        .row-fluid
          #special-types.form-field
            .span4
              ANY SPECIAL DIET THAT YOU ARE ON?
            .span8
              - Diet.special.each do |diet|
                .check-box
                  = check_box_tag 'sp_diet_ids[]', diet.id, @user.diets.include?(diet), {:onclick =>  "$('#special-types').addClass('selected')" }
                  = diet.name
        .row-fluid
          .span7
            = link_to "Previous", edit_allergies_user_path(@user), class: "prev-link"
            = submit_tag "Save Dietary Information", class: "submit-btn btn"
          .span5
            .page-number
              = "#{@step}/4"


