.row-fluid
  .span12
    .align-center68
      = render "shared/form_header"
      = form_tag set_allergies_user_path(@user), method: :post, id: "allergy-form" do
        .row-fluid
          .span9
            #has-allergy-box.form-field
              .span4
                DO YOU HAVE ANY FOOD ALLERGIES?
                %span.required-dot *
              .span8
                .box
                  = radio_button_tag 'has_allergy', false, !@user.has_allergy, { :onclick => "$('#allergy-types').hide();" }
                  NO
                .box
                  = radio_button_tag 'has_allergy', true, @user.has_allergy, { :onclick => "$('#allergy-types').show(); $('#has-allergy-box').addClass('selected');"}
                  YES
        .row-fluid
          .span9
            #allergy-types.form-field{style: ("display:block;" if @user.has_allergy)}
              .span4
                Are you allergic to
              .span8
                - Allergy.featured.each do |allergy|
                  .check-box
                    = check_box_tag 'allergy_ids[]', allergy.id, @user.allergies.include?(allergy), {:onclick =>  "$('#allergy-types').addClass('selected')" }
                    = allergy.name
                .check-box
                  = check_box_tag 'other_allergy', true, !@user.other_allergies.nil?, { :onclick => "$('#other-allergy-box').show(); $('#allergy-types').addClass('selected')"}
                  Other
        .row-fluid
          .span9
            #other-allergy-box.form-field{style: ("display:block;" unless @user.other_allergies.nil?)}
              .span4
                What are you allergic to?
              .span8
                = text_field_tag 'other_allergy_name', @user.other_allergies, placeholder: 'Type Allergies Here'

        .row-fluid
          .span7
            = submit_tag "Save Allergy Information", class: "submit-btn btn"
          .span5
            .page-number
              = "#{@step}/4"



