#footer_top.row-fluid
  .align-center68
    .top_sec
      .s_name.span3
        %a{:href => "#join"} KITCHEN STADIUM
      .nav_list.span9
        %ul
          / <li class='active'><a href="#join" class='a_join'>join</a></li>
          - unless params[:controller] == "users"
            %li
              %a{:href => "https://kitchenstadium.wufoo.com/forms/chef-or-restaurant-sell-to-kitchen-stadium/"} Restaurant or Chef?
            %li
              %a.a_works{:href => "#stdm_works"} how it works
            %li
              %a.a_story{:href => "#vid_sec"} our story
          %li
            %a{:href => "mailto:info@kitchenstadium.com"} contact
          %li.last
        - unless params[:controller] == "users"
          .btn-align
            %a.btn{:href => "#join"} REQUEST INVITE
#footer_bottom.row-fluid
  .align-center68
    .bottom_sec
      %p © 2013 Kitchen Stadium