#form_header
  .info
    %h2{style: "color:#c84747;"}
      Taste Test
    %h4
      Tell us about your taste preferences to discover better food suggestions
  .info
    %ul.form_steps
      %li
        .number{class: ("round-selected" if @step == 1)}
          1
        .step
          ALLERGIES
      %li
        .number{class: ("round-selected" if @step == 2)}
          2
        .step
          DIETARY PREFERENCES
      %li
        .number{class: ("round-selected" if @step == 3)}
          3
        .step
          FAVORITE CUISINES
      %li
        .number{class: ("round-selected" if @step == 4)}
          4
        .step 
          SWEET & SPICE LEVELS