#header.row-fluid
  #top-head.span12
    .align-center68
      .span8
        %strong Members only dining.
        %span
          No minimums. No gratuity. No delivery fee.
      .span2.pull-right
  #holder
    #bottom-head.align-center68
      .site_name
        / <img src='images/logo.png' />
        %span
          %strong kitchen stadium
        / <span>stadium</span>
      - unless params[:controller] == "users"
        .navbar.pull-right
          .navbar-inner.pull-right
            %button.btn.btn-navbar.collapsed{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .nav-collapse.collapse
              %ul.nav.pull-right
                %li.first
                  %a.a_story{:href => "#vid_sec"} our story
                %li
                  %a.a_works{:href => "#stdm_works"} how it works
                %li
                  %a.a_food{:href => "#pricing"} pricing
                %li
                  %a.a_food{:href => "#our_food"} our food & delivery
.row 
  - flash.each do |k,v|
    - if v.kind_of?(Array)
      - v.each do |sub_v|
        .alert-box{class: "alert-#{k} #{k}", style: ("color:white" if k == "error")}
          = sub_v 
    - else
      .alert-box{class: "alert-#{k} #{k}", style: ("color:white" if k == "error")}
        = v