/ - unless @user.nil?
/   - puts @user.email
/   <script id="IntercomSettingsScriptTag">
/   window.intercomSettings = {
/   // TODO: The current logged in user's email address.
/   email: "<%= @user.email %>",
/   // TODO: The current logged in user's sign-up date as a Unix timestamp.
/   created_at: <%= @user.created_at.to_i %>,
/   app_id: "448b338d4664415f6a07eeb42a20b0d7fc5b5f2f"
/   };</script>
/   <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>
