#membership.row-fluid
  .align-center68
    .perk-title
      What does kitchen stadium membership get you?
    .perks-container
      .perk
        %div
          %p.first Premium food at non premium prices
          %p.second Quality food at up to 40% off restaraunt prices
      .perk
        %div
          %p.first mix and match different cuisines in the same order
          %p.second order chinese and italian in the same order
      .perk
        %div
          %p.first no tips, no delivery fees, no minimums
          %p.second new yorkers spend $50 per month in extra delivery related fees when they order in
      .perk
        %div
          %p.first variety
          %p.second many cuisines, many choices
      .perk
        %div
          %p.first eat healthy or indulge your choice
          %p.second all options available
      .perk
        %div
          %p.first portion size flexibility
          %p.second make a meal out of appetizers or an appetizer out of a meal
      .perk
        %div
          %p.first order today or plan your meals for the entire week
          %p.second ordering is hassle free
      .perk
        %div
          %p.first quality ingredients
          %p.second preservative free and organic, whenever possible
      .perk
        %div
          %p.first customized recommendations
          %p.second based on your taste preference
      .perk
        %div
          %p.first special diet?
          %p.second low carb, high protien, gluten free? we have it covered
      .perk
        %div
          %p.first curated meals from the best restaraunts and chefs in nyc
          %p.second only the best items from the best restaraunts
      .perk
        %div
          %p.first only wow food
          %p.second wow should be the reaction after you take your first bite
      %br
      %a.btn{:href => "#join"} REQUEST INVITE


