#pricing.row-fluid{style: "background:#454545"}
  .align-center68
    .membership-pricing
      .price-box.span4
        .pricing-type
          Annual Season Ticket
        .monthly-amount
          %p.amount $15
          %p.frequency Monthly
        .annual-amount $80 up front
        .cancel-status Cancel Anytime
        .request-area
          %a.btn{:href => "#join"} REQUEST INVITE
      .price-box.span4.bigger-box
        .pricing-type
          Six Month Season Ticket
        .monthly-amount
          %p.amount $17
          %p.frequency Monthly
        .annual-amount $100 up front
        .cancel-status Cancel Anytime
        .request-area
          %a.btn{:href => "#join"} REQUEST INVITE
      .price-box.span4
        .pricing-type
          Monthly Ticket
        .monthly-amount
          %p.amount $19
          %p.frequency Monthly
        .annual-amount $19/month
        .cancel-status Cancel Anytime
        .request-area
          %a.btn{:href => "#join"} REQUEST INVITE
