/ registration form container
- url = Picture.front_page.first.url unless Picture.front_page.first.nil?
#join.row-fluid{style:"background-image: url('/assets/#{url}');"}
  #registration.align-center41
    .info
      = SiteContent.find_by_key("LANDING_HERO").content.html_safe unless SiteContent.find_by_key("LANDING_HERO").nil?
    .reg_form
      %h5 START YOUR FREE MONTH
      = form_for(User.new, html: { id: "subscribtionForm", class: "form-inline" }) do |f|
        .control
          = f.text_field(:full_name, placeholder: "Your full name")

        .control
          = f.text_field(:email, placeholder: "Email")
        .control.zip
          = f.text_field(:zip, placeholder: "zip", class: "zip")
        .button
          = f.submit("REQUEST INVITE", class: "btn main-btn")
/ Block section - video
- unless Video.front_page.first.nil?
  #vid_sec.row-fluid.block_sec
    .align-center68
      = Video.front_page.first.html_embed.html_safe
/ Stadium works section
#stdm_works.row-fluid
  .align-center68
    .title How Kitchen Stadium works
    .list
      %dl.explore
        %dt
          %span
          1.
          %br/
          Request Invite
        %dd
          Fill in your information.
      .arrow_border
      %dl.choose
        %dt
          %span
          2.
          = succeed "Taste" do
            %br
          Test
        %dd
          Tell us what you love.
      .arrow_border
      %dl.time
        %dt
          %span
          3.
          %br
          Get Ready
        %dd
          You will receive an invite from us.
      .arrow_border
      %dl.relish
        %dt
          %span
          4.
          %br
          Relish
        %dd
          Enjoy free delivery.
          = succeed "Eat" do
            %br
          your heart out!
/ Calendar section
#cal_plan.row-fluid
  .align-center68
    .img_sec.span3
      .image_d
        = image_tag("bgr_img.png")
        %span.date
          TUESDAY 4
          %sup TH
      .name
        %span Classic Burger
        American
    .info_sec.span9
      .title
        Why you’ll love Kitchen Stadium
      .info
        %p You don’t have to worry about paying extra in delivery fees or tips every time you order a meal. Kitchen Stadium membership handles it all. There are also no minimum orders.
        %p You can eat well and save. Kitchen Stadium works with some of the top restaurants and chefs in New York to get you premium food for non-premium prices.
        %p Ordering is easy. You can order today or plan an entire week's food. Canceling or changing orders is simple and penalty-free.
    .btn-align
      %a.btn{:href => "#join"} REQUEST INVITE
/ Members slider section
#member.row-fluid
  .title KITCHEN STADIUM IS FOR EVERYONE
  .list_carousel.responsive
    .o_prev
    .o_next
    %a#prev.prev{:href => "#"}
      %span
    %a#next.next{:href => "#"}
      %span
    %ul#member_slider
      %li.dark
        = image_tag("m1.png")
        .text
          %p “Quiet please… I am cooking for Kitchen Stadium.”
      %li.medium
        = image_tag("m2.png")
        .text
          %p “We are not addicted. We just eat their food every day.”
      %li.light
        = image_tag("m3.png")
        .text
          %p Do Not Disturb.
      %li.dark
        = image_tag("m4.png")
        .text
          %p “When it rains, our orders from Kitchen Stadium double. We’re fans!”
      %li.medium
        = image_tag("m5.png")
        .text
          %p Kitchen Stadium has a kids menu
      %li.light
        = image_tag("m6.png")
        .text
          %p Eating comfortable at home
      %li.dark
        = image_tag("m7.png")
        .text
          %p “We ordered Thai, Sushi & Indian in the same order.”
      %li.medium
        = image_tag("m8.png")
        .text
          %p “Food from our favorite Upper East restaurant delivered to the Financial District …wow!” 
      %li.light
        = image_tag("m9.png")
        .text
          %p “Healthy options for our entire family. Kitchen Stadium makes it easy.”
#our_food.row-fluid.block_sec
  .align-center68
    .img_sec.span4
      = image_tag("our_food.png")
      / <span class='carat'></span>
      .m_title
        /
          <div class='our'>OUR</div>
          <div class='text'>FOOD</div>
        / <img src='o_food.png' />
    .info_sec.span7
      .title
        Our Food - quality, taste and portion size
      .info
        %p We are passionate about food that tastes good. It starts with quality ingredients – wholesome and preservative free. Our chefs and restaurant partners then work on harnessing the best of flavors. We work with NYC's leading chefs.
        %br/
        %p To suit your mood, we offer an extensive menu with over 1000 carefully curated meals from various cuisines of the world. You can also order different cuisines in the same order. Our menu includes brunches, lunches, dinners, desserts and drinks.
/ Block section - our delivery
#our_delivery.row-fluid.block_sec
  .align-center68
    .img_sec.span4
      = image_tag("our_del.png")
      / <span class='carat'></span>
      .m_title
        /
          <div class='our'>OUR</div>
          <div class='text'>DELIVERY</div>
        / <img src='o_del.png' />
    .info_sec.span7
      .title
        Our Delivery - simple and speedy
      .info
        %p Pricing is like it should be — there are no order minimums and no delivery fees. No tipping and no hidden costs.
        %br/
        %p It’s so easy. Kitchen Stadium lets you select the delivery day and time, and can manage your delivery calendar online. Canceling or changing a future order is easy and there are no penalties.Our delivery is truly “seamless”.
= render partial: 'pricing', locals: {url: url}
= render partial: 'membership'

