@font-face {
  font-family: 'Knockout';
  src: url('knockout/ufonts.com_knockout-htf48-featherweight.eot');
  src: local('?'), url('knockout/ufonts.com_knockout-htf48-featherweight.eot?#iefix') format('embedded-opentype'), url('knockout/ufonts.com_knockout-htf48-featherweight.woff') format('woff'), url('knockout/ufonts.com_knockout-htf48-featherweight.ttf') format('truetype'), url('knockout/ufonts.com_knockout-htf48-featherweight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaB';
  src: url('proxima/ProximaNova-Bold.eot');
  src: local('?'), url('proxima/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('proxima/ProximaNova-Bold.woff') format('woff'), url('proxima/ProximaNova-Bold.ttf') format('truetype'), url('proxima/ProximaNova-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaR';
  src: url('proxima/ProximaNova-Regular.eot');
  src: local('?'), url('proxima/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('proxima/ProximaNova-Regular.woff') format('woff'), url('proxima/ProximaNova-Regular.ttf') format('truetype'), url('proxima/ProximaNova-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaL';
  src: url('proxima/ProximaNova-Light.eot');
  src: local('?'), url('proxima/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('proxima/ProximaNova-Light.woff') format('woff'), url('proxima/ProximaNova-Light.ttf') format('truetype'), url('proxima/ProximaNova-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SNarrow';
  src: url('narrow/pt-sans.narrow.eot');
  src: local('?'), url('narrow/pt-sans.narrow.eot %>?#iefix') format('embedded-opentype'), url('narrow/pt-sans.narrow.woff') format('woff'), url('narrow/pt-sans.narrow.ttf') format('truetype'), url('narrow/pt-sans.narrow.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
