#form_header {
  font-size: 1.3em;
  .info {
     border-bottom: 1px dotted #cccccc;
     margin-bottom: 10px;
     padding-bottom: 10px;   
  }

  .form_steps {
    padding: 5px;
    list-style: none;
    height: 25px;
    margin:0px;
    //min-width: 850px;
    li {
      padding-right: 10px;
    }

    .number {
      width: 25px;
      height: 25px;
      border: 2px solid #cccccc;
      margin-right: 5px;
      text-align: center;
      line-height: 25px;
      float: left;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -o-border-radius: 25px;
      -moz-border-radius: 25px;
    }
    .step {
      font-size: 0.65em;
      float: left;
      line-height: 27px;
      margin-right: 20px;
    }
  }


}

.selected {
  background-color: #c84747;
  color: white;
}

.round-selected {
  background-color: #c84747;
  color: white;
}

.form-field {
  padding: 20px 0;
  margin-bottom: 10px;
}

#allergy-form {
  margin-top: 30px;
}

#allergy-types {
  display: none;
  height: 50px;
  padding: 20px;
  margin-bottom: 20px;
}

#has-allergy-box {
  height: 50px;
  padding: 20px;
  margin-bottom: 20px;
}

.check-box {
  margin-right: 10px;
  margin-bottom: 10px;;
  font-size: 1.3em;
  float: left;
}

#other-allergy-box {
  display: none;
  height: 50px;
  padding: 20px;
  margin-bottom: 20px;
}

#diet-types table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  tr {
    line-height: 35px;
    &:hover {
      background-color: #c84747;
      td { color: white; }
    }
  }
  td { 
    width: 20%; 
    border: 1px solid #D3D3D3;
    text-align: center
  }

  th {
    border: 1px solid #D3D3D3;
    background-color:#E6E6E6;
  }

}

.even { background-color: #E9E9E9; }

.form-field {
  padding: 20px;
}

.radio-box {
  display: inline;
  margin-right: 15px;

  input {
    margin: 0 5px 5px 0;
  }

}

.box {
  input { margin: 0 5px 5px 0;}
}

.big-text-area {
  height: 100px;
  width: 100%;
}

.page-number {
  float: right;
}

.required-dot {
  color: red;
}

#special-types {
  height: 90px;
}

.submit-btn {
  float: right;
  margin-right: 10px;
  padding: 0px 7px;
  border: 2px outset buttonface;
  /*border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;*/
}

.prev-link {
  float: right;
  text-decoration: underline;
}

.page-number {
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: 5px;
}

.main-btn {
  background: #d55e5e !important;
  padding: 8px 35px !important;
  width: 200px !important;
  font-family: 'ProximaB', 'Times New Roman', sans-serif !important;
}