/* Kitchen Stadium Styles
   Author : Esha Mukherjee @Vinsol
*/

/* Bootstrap styles overriding - starts*/

  .container-fluid{padding:0px;}
  .navbar{/*margin-top: 15px;*/margin-bottom: 0px;}
  .navbar-inner{
    min-height: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #ffffff;
    background-image: none;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffffffff',GradientType=0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .navbar .nav>li{padding:10px 15px;}
  .navbar .nav>li.first{padding-left:0px;}
  .navbar .nav>li.last{padding-right:0px;}
  .navbar .nav>li>a{
    color:#626262;
    font-size:16px;
    text-transform:uppercase;
    padding: 0px;
    font-family: 'ProximaB', 'Times New Roman', sans-serif;
    font-weight:normal;
  }
  .navbar .nav>li>a:hover{
    color:#000000;
  }
  .navbar .nav>li.active>a, .navbar .nav>li>a:focus{
    color:#c84747;
  }
  .navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .btn{width:100%;background:#d55e5e;border:none;text-shadow:none;padding: 8px 12px;font-family: 'ProximaB', 'Times New Roman', sans-serif;color:#ffffff;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
  .btn:hover, .btn:focus, .btn:active{background:#962a2a;color:#ffffff;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
/* Bootstrap styles overriding - ends*/

/* Styles common to document - starts*/

  *{margin:0px;padding:0px;font-weight:normal;}
  ul,ol{list-style:none;}
  .align-center68{width: 68%;margin: 0px auto;float: none;overflow: auto;}
  .align-center41{width: 41%;margin: 0px auto;float: none;overflow: auto;}
  .arrow_border{background: transparent url(block_border.png) top right no-repeat;width:3%;background-size:100%, 100%;float:left;height: 230px;margin: 0px 10px;}


  /* all placeholder text color*/
  input::-webkit-input-placeholder { color:#ffffff; }
  input:-moz-placeholder { color:#ffffff; }/* Firefox 18- */
  input::-moz-placeholder { color:#ffffff; } /* firefox 19+ */
  input:-ms-input-placeholder { color:#ffffff; } /* ie */
/* Styles common to document - ends*/

/* Styles for header - starts*/

  #header #top-head{font-size:14px;color:#9c9c9c;background:#fbfbfb;border-bottom:1px solid #f9f9f9;min-height: 38px;padding-top:8px;font-family: 'ProximaR', 'Times New Roman', sans-serif;}
  #header #top-head strong{font-family: 'ProximaB', 'Times New Roman', sans-serif;font-weight:normal;}
  #header #bottom-head{padding:25px 0px 15px;}
  #header #bottom-head .site_name{color:#534a4b;float:left;font-size:40px;font-family: 'SNarrow', 'Times New Roman', sans-serif;text-transform:uppercase;line-height: 32px;margin-bottom: 20px;margin-right: 20px;}
/*  #header #bottom-head .site_name span:first-child{letter-spacing:1px;}*/
  #holder{width: 100%;background: #fff;float:left;}
/* Styles for header - ends*/

/*Styles for registration container - starts*/


  #join #registration{margin:60px auto;}

  #join #registration .info{text-align:center;padding:30px 0px;width:100%;background: #c84747;color:#ffffff;font-family: 'ProximaR', 'Times New Roman', sans-serif;}
  #join #registration .info .title{font-size:36px;font-weight:normal;margin: 0px;padding: 0px 10px;line-height: 35px;}
  #join #registration .info .high_text{padding:10px 20px;color:#e9b5b5;font-family: 'ProximaL', 'Times New Roman', sans-serif;font-size:22px;}
  #join #registration .info .light_text{padding:10px;color:#e9b5b5;font-family: 'ProximaL', 'Times New Roman', sans-serif;font-size:20px;}

  #join #registration .reg_form{background:#ba3a3a; padding:20px 0px; text-align:center;color:#ffffff;height:165px;}
  #join #registration .reg_form h5{/*opacity:0.6;*//*padding-bottom:15px;*/}
  #join #registration .reg_form .form-inline{width: 95%;margin: 0px auto;}
  #join #registration .reg_form .form-inline input{
    float: left;
    background:#a52e2e;
    border:none;
    color:#ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    width:75%;
    margin-right:15px;
    padding:10px 15px;
    font-family: 'ProximaR', 'Times New Roman', sans-serif;
    font-size:16px;
    margin-bottom: 5px;
  }
  #join #registration .reg_form .form-inline input.zip{width:60%;margin-right:0px;}
  #join #registration .reg_form div.button{margin:25px auto 0px;width:215px;}
  #join #registration .reg_form div.button .btn{margin-top: 20px;}
  #join #registration .control{float:left;width:40%;}
  #join #registration .zip{width:20%;}
  #join #registration .control .error{float:left;width:100%;text-align:left;display:none;}
/*Styles for registration container - ends*/

/* Styles for How It Works section - starts */
  #stdm_works .align-center68{padding: 35px 0px 45px;}
  #stdm_works .title{text-align:center;font-family: 'ProximaB', 'Times New Roman', sans-serif;color:#c84747;font-size:14px;text-transform:uppercase;}
  #stdm_works .list{margin-top:30px;}
  #stdm_works .list dl{font-family: 'ProximaL', 'Times New Roman', sans-serif;text-align:center;float:left; width:20%;}
  #stdm_works .list dl.relish{background:none;padding-right:0px;margin-right:0px;}
  #stdm_works .list dl dt{color:#c84747;font-size:22px;line-height:35px;font-weight:normal;padding-bottom:15px;}
  #stdm_works .list dl dt span{height:50px;width:40px;display: block;margin: 0px auto;}
  #stdm_works .list dl.explore dt span{background: transparent url(sprite.png) -361px 0px no-repeat;}
  #stdm_works .list dl.choose dt span{background: transparent url(sprite.png) -361px -52px no-repeat;}
  #stdm_works .list dl.time dt span{background: transparent url(sprite.png) -359px -110px no-repeat;}
  #stdm_works .list dl.relish dt span{background: transparent url(sprite.png) -361px -170px no-repeat;}
  #stdm_works .list dl dd{margin:0px;color:#656565;line-height:25px;font-size:18px;}
/*Styles for How It Works section - ends*/

/* Styles for calender section -starts*/

  #cal_plan{background: transparent url(cal_bg.png) 0px 0px repeat; border-top: 1px solid #efefef;border-bottom: 1px solid #efefef;padding: 130px 0px 100px;}

  #cal_plan .img_sec .image_d{position:relative;text-align: center;}
  #cal_plan .img_sec .image_d img{
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-top-left: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-top-right: 5px;
    border-top-right-radius: 5px;
    width:100%;
  }
  #cal_plan .img_sec .image_d .date{position: absolute;left: 0px;bottom: -1px;padding:8px 15px;background:#c84747;color:#ffffff;font-size:14px;font-family: 'ProximaB', 'Times New Roman', sans-serif;}
  #cal_plan .img_sec .name{
    background: #ffffff;
    text-align: center;
    color:#929292;
    font-size:18px;
    line-height:35px;
    font-family: 'ProximaL', 'Times New Roman', sans-serif;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottom-left: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottom-right: 5px;
    border-bottom-right-radius: 5px;
  }
  #cal_plan .img_sec .name span{display:block;font-size:25px;color:#4d4d4d;padding: 15px 0px 10px;}

  #cal_plan .info_sec{font-family: 'ProximaL', 'Times New Roman', sans-serif;margin-bottom: 30px;}
  #cal_plan .info_sec .title{font-size:30px;line-height:40px;color:#c84747;}
  #cal_plan .info_sec .info{font-size:18px;line-height:30px;color:#656565;}
  #cal_plan .btn-align{width: 215px;margin: 0px auto;overflow: hidden;}
  #cal_plan .btn-align a{padding: 8px 0px;}
/* Styles for calender section -ends*/

/*Styles for block section - starts*/
  .block_sec{padding-top:40px;}
  .block_sec .align-center68{background:#f1f1f1;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
  .block_sec .align-center68 .img_sec{width:36%;position:relative;}
  .block_sec .align-center68 .img_sec img{width:100%;}
  .block_sec .align-center68 .img_sec span.carat{margin-right: -2px;position:absolute;top:15%;right:0px;width:15px;height:18px;background: transparent url(../sprite.png) 0px 0px no-repeat;}
  .block_sec .align-center68 .img_sec .m_title{
    color: #fff;
    position: absolute;
    top: 35%;
    right: 35%;
    font-family: 'Knockout', 'Times New Roman', sans-serif;
    width: 30%;
/*    border-top:6px solid #fff;
    border-bottom:6px solid #fff;*/
/*    padding: 5px 0px;*/
  }
  .block_sec .align-center68 .img_sec .m_title img{width:100%;}
  .block_sec .align-center68 .img_sec .m_title .our{letter-spacing: 3px;text-align: center;font-size: 65px;line-height: 65px;}
  .block_sec .align-center68 .img_sec .m_title .text{letter-spacing: -1px;font-size: 60px;text-align: center;line-height: 50px;}

  .block_sec .info_sec{margin-left: 5%;margin-top: 45px;font-family: 'ProximaL', 'Times New Roman', sans-serif;}
  .block_sec .info_sec .title{color:#c84747;font-size:30px;line-height:40px;}
  .block_sec .info_sec .info{font-size:18px;line-height:27px;color:#656565;padding:30px 30px 0px 0px;}

  #our_delivery .align-center68 .img_sec .m_title{top:38%;}
  #our_delivery .align-center68 .img_sec .m_title .our{line-height: 60px;letter-spacing: 4px;}
  #our_delivery .align-center68 .img_sec .m_title .text{font-size: 35px;line-height: 40px;letter-spacing:0px;}

  #vid_sec img{width:100%;}  /*remove when video added*/
/*Styles for block section - ends*/

/* Styles for member section - starts*/

  #member{padding-top:35px;}
  #member .title{text-align: center;font-family: 'ProximaB', 'Times New Roman', sans-serif;color: #c84747;font-size: 14px;padding-bottom:35px;}
  #member #member_slider .text{width: 85%;/*height: 45%;*/padding: 15px 8%;display:table;font-size:18px;line-height:30px;font-family: 'ProximaL', 'Times New Roman', sans-serif;color:#ffffff;}
  #member #member_slider .text p{display:table-cell;vertical-align:middle;height:100%;text-align: center;}
/* Styles for member section - ends*/

/*Styles for footer - starts*/
  #footer_top{background:#232323;margin-top: 40px;}
  #footer_top .top_sec{width:100%;padding:50px 0px;float:left;}
  #footer_top .top_sec .s_name{padding: 50px 0px;border-right:1px solid #484848;}
  #footer_top .top_sec .s_name a{font-family: 'Knockout', 'Times New Roman', sans-serif;font-size:36px;line-height:35px;color:#484848;}
  #footer_top .top_sec .s_name a:hover{text-decoration:none;color: #a7a7a7;}
  #footer_top .nav_list{padding:50px 0px;}
  #footer_top .nav_list ul{margin-bottom:0px;float:left;}
  #footer_top .nav_list ul li{float:left;margin-right:30px;}
  #footer_top .nav_list ul li a{text-transform: capitalize;color:#a7a7a7;font-size:16px;line-height:30px;font-family: 'ProximaL', 'Times New Roman', sans-serif;}
  #footer_top .nav_list ul li.active a{color:#fff;}
  #footer_top .nav_list ul li.last{margin-right:0px;}
  #footer_top .nav_list .btn-align{width: 215px;float: right;}
  #footer_top .nav_list .btn-align a{padding:8px 0px;}
  #footer_bottom{background:#181818;}
  #footer_bottom .bottom_sec{width:100%;padding:8px 0px;float:left;}
  #footer_bottom .bottom_sec p{margin:0px;}
/*Styles for footer - ends*/


@media (max-width: 1400px) {
  #footer_top .nav_list .btn-align{float: left;margin-top: 20px;margin-left: 25%;}
}


@media (min-width: 1300px) {
  #join{background-size:100% 590px;}
}

@media (max-width: 1300px) {
  #footer_top .nav_list{padding-bottom: 20px;}
}

@media (min-width: 980px) and (max-width: 1200px){
  .navbar{float: left;}
  .align-center41{width:51%;}
  .block_sec .info_sec{margin-top: 25px;}
}


@media (max-width: 979px) {
  .align-center68{width:71%;}
  .navbar .btn-navbar{width:40px;}
  .nav-collapse, .nav-collapse.collapse ul{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;margin-top:8px;background:#fbfbfb;}
  .nav-collapse .nav>li>a:hover, .nav-collapse .nav>li>a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus{background:transparent;}
  .align-center41{width:61%;}
  #cal_plan .img_sec{width:100%;}
  #cal_plan .info_sec{margin-left: 0px;width:100%;margin-top:20px;}
  .block_sec .align-center68 .img_sec{width:100%;text-align:center;}
  .block_sec .info_sec{width: 95%;padding-bottom: 20px;}
  .block_sec .align-center68 .img_sec .m_title{width: 25%;top: 25% !important;right: 38%;}
  .navbar .nav>li.first{padding-left:15px;}
}

@media (max-width: 767px){
  body{padding:0px;}
  .align-center41{width:71%;}
  #join {background: transparent url(main_bg_w.png) 0px 0px repeat;}
  #join #registration .control{float:left;width:40%;}
  #join #registration .zip{width:20%;}
  #join #registration .reg_form .form-inline input, #join #registration .reg_form .form-inline input.zip{width: 60%;display: block;margin: 0px auto 10px;}
  #stdm_works .list dl{width:100%;}
  .arrow_border {
    background: transparent url(block_border_hor.png) 45% center no-repeat;
    width: 100%;
    float: left;
    height: 25px;
    margin: 10px 0px 20px;
  }
  .block_sec .align-center68 .img_sec{width:100%;text-align:center;}
  .block_sec .align-center68 .img_sec .m_title{right:37%;top: 30% !important;}
  .block_sec .info_sec{margin-left:0px;}
  .block_sec .info_sec .title{padding-left:20px;}
  .block_sec .info_sec .info{padding-left: 18px;padding-bottom: 20px;}
  #footer_top .top_sec .s_name{border-bottom: 1px solid #484848;border-right: none;}
}

@media (max-width: 600px){

  .navbar, .navbar .btn-navbar{float:left;}

}


@media (max-width: 480px){
  .navbar .nav>li>a{font-size:14px;}
/*  #header #bottom-head .site_name{width:80px;}*/
  #stdm_works .list dl dd, #cal_plan .info_sec .info, #member #member_slider .text, .block_sec .info_sec .info{font-size:16px;}
  #join #registration{margin:45px auto;}
  #join #registration .info .high_text{font-size: 18px;}
  #stdm_works .list dl dt{font-size:20px;}
  #join #registration .info .title,#cal_plan .info_sec .title{font-size:26px;}
  .block_sec .info_sec .title{font-size:28px;}
  #footer_top .top_sec .s_name a {font-family: 'SNarrow', 'Times New Roman', sans-serif;}
/*  .navbar .nav>li{padding-left:0px;}*/
  #join #registration .control{width:100%;}
  #join #registration .zip{width:100%;}
  #footer_top .nav_list .btn-align{margin-left: 18%;}
  #join #registration .reg_form .form-inline input, #join #registration .reg_form .form-inline input.zip{width:86%;margin:0px auto 10px;float:none;}
  #join #registration .reg_form { padding: 20px 0 100px 0; }
  #footer_top .top_sec .s_name { width: 100%; }
}

@media (max-width: 320px){
  #footer_top .nav_list .btn-align{margin-left: 3%;}
}

@media (max-width: 290px){
  .navbar .nav>li>a{font-size: 12px;}
  .navbar .nav>li{padding: 10px 5px;}
  #join #registration .reg_form div.button{width:165px;}
}