#our_delivery {
  margin-bottom: 30px;
}

.membership-pricing {
  text-transform:uppercase;
  font-family: 'ProximaR';
  overflow: hidden;
  .span4 {
    width: 33.3333%;
    padding: 0;
    margin: 0;

  }

  .price-box {
    background-color: white;
    margin-top: 100px;
    @media (max-width: 480px){
      width: 100%;
      margin-top: 0px;
    }

    div { 
      width: 100%; 
      text-align: center; 
      padding: 20px 0; 
      border: 1px solid #E0E0E0;
      margin-left: -1px;
    }
    .pricing-type {
      font-size: 16px;
      font-weight: bold;
      height: 40px;
    }
    .monthly-amount {
      background: #999999;
      color: white;
      .amount { font-size: 40px; padding: 10px 0; }
      .frequency { font-weight: 20px; }
    }

    .request-area {
      .btn { width: 60%; }
    }
  }

  .bigger-box {
    margin-top: 80px;
    @media (max-width: 480px){
      width: 100%;
      margin-top: 0px;
    }
    .pricing-type { padding: 30px 0 30px 0; }
    .monthly-amount { background-color: #c84747; }
  }
}

#membership {
  text-transform:uppercase;
  font-family: 'ProximaR';

  .perk-title {
    width: 100%;
    font-size: 20px;
    line-height: 22px;
    padding: 60px 0;
    text-align: center;
  }
}

.perks-container {
  width: 100%; 

  .btn { width: 40%; margin-left: 30%; margin-top: 40px; }

  .perk {
    width: 28%;
    margin: 5px 1.5%;
    background: #EEEEEE;
    border: 2px solid #DDDDDD;
    float: left;
    display: table;

    @media (max-width: 764px) {
      width: 45%;
    }

    @media (max-width: 480px) {
      width: 80%;
      margin: 5px 9%;
    }

    &:hover {
      background: #c84747;
      color: white;
      .first { display: none; }
      .second { display: block; }
    }

    div { 
      width: 100%;
      height: 148px; 
      display: table-cell;
      vertical-align: middle;
    }


    p { margin: 0 10%; width: 80%; text-align: center; }
    .second { display: none; }

  }
}
