.list_carousel {
	margin: 0 0 30px 60px;
	width: 360px;
}
.caroufredsel_wrapper{
  min-height:300px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	height:100% !important;
}
.list_carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	width: 50px;
/*  height: 50px;*/
	padding: 0;
	display: block;
	float: left;
	height:100% !important;
}

.list_carousel li.dark{background-color: #b03f3f;}
.list_carousel li.medium{background-color: #c44e4e;}
.list_carousel li.light{background-color: #cd6363;}
.list_carousel li.light img, .list_carousel li.medium img, .list_carousel li.dark img{width:100%;}

.list_carousel.responsive {
	width: auto;
	margin-left: 0;
	position:relative;
}
.clearfix {
	float: none;
	clear: both;
}
.o_prev{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  background: #000;
  height: 100%;
  width: 14%;
  opacity: 0.7;
}
.prev {
  position: absolute;
  top: 0px;
  left: 13.9%;
  z-index: 9;
  height: 100%;
  width: 40px;
  opacity: 0.8;
  background: #000 url(larrow.png) center center no-repeat;

}
.o_next{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9;
  background: #000;
  height: 100%;
  width: 14%;
  opacity: 0.7;
}
.next {
  position: absolute;
  top: 0px;
  right: 13.9%;
  z-index: 9;
  height: 100%;
  width: 40px;
  opacity: 0.8;
  background: #000 url(rarrow.png) center center no-repeat;

}
.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}



@media (max-width: 1200px) {
  .caroufredsel_wrapper{min-height:270px;}
  #member #member_slider .text{height: 40%;line-height: 25px;}
}

@media (max-width: 1024px) {
  .caroufredsel_wrapper{min-height:250px;}
  #member #member_slider .text{height: 36%;line-height: 23px;font-size:16px;width:98%;padding:5px 8px;text-align:center;}
}

@media (max-width: 600px) {
  .caroufredsel_wrapper{min-height:220px;}
  #member #member_slider .text{height: 36%;line-height: 20px;font-size:14px;padding: 5px 5%;}
}

@media (max-width: 480px) {
  .caroufredsel_wrapper{min-height:190px;}
  #member #member_slider .text{line-height: 15px;font-size:13px;padding:5px 7px;width:99%;}
}