<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]>
<!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}
  %link{:rel  => "icon", :type => "image/x-icon", :href =>"/favicon.ico"}
  %title= "Kitchen Stadium"
  = stylesheet_link_tag 'application'
  = csrf_meta_tags
  = javascript_include_tag 'application'
  = render "shared/optimizely"
  = render "shared/segment"
%body
  #wrapper.container-fluid
    = render 'shared/header'
    = yield
    = render 'shared/footer'
  = render 'shared/crazy_egg'
  = render 'shared/olark'
  = render 'shared/responsive'
  = render 'shared/intercomio'
